# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Conda / venv
venv/
.env/
*.conda

# Django
db.sqlite3
staticfiles/
media/

# Node / Angular
node_modules/
dist/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
